{% extends 'base.html.twig' %}

{% block title %}
    Quiz Osobowości
{% endblock %}

{% block body %}
    <h1>Wynik Quizu Osobowości</h1>

    {% for i in 0..2 %}
        <h2>{{ personality[i].type }}</h2>

        <span> Jesteś tym typem osobowości w {{ percentages[i] }}%</span>

        <p>{{ personality[i].description }}</p>
        <p>Rekomendowane rodzaje prac: {{ personality[i].recommendedProffesions }}</p>
        <p>Przykładowe Zawody: {{ personality[i].exemplaryProfessions }}</p>
    {% endfor %}

    <script type="application/javascript">

    </script>

{% endblock %}

