{% extends 'base.html.twig' %}

{% block title %}
    Quiz Osobowości
{% endblock %}

{% block body %}
    <h1 class="text-center fw-bold fs-1 my-5">Wynik Quizu Osobowości</h1>

    {% for i in 0..2 %}
        <div
            {% if i == 0 %} style="background-color: #d4af37;"
            {% elseif i == 1 %} style="background-color: #c0c0c0;"
            {% elseif i == 2 %} style="background-color: #cd7f32;"
            {% endif %} class="result-div">
        <h2 class="text-center fw-bold fs-2">{{ personality[i].type }}</h2>

        <p class="text-center fw-bold fs-5">Jesteś tym typem osobowości w {{ percentages[i] }}%</p>

            <p class="text-center fs-4 my-5">{{ personality[i].description }}</p>
            <p class="text-center fw-bold fs-5">Rekomendowane rodzaje prac: <span class="highlight-text-a-little">{{ personality[i].recommendedProffesions }}</span></p>
            <p class="text-center fw-bold fs-5 mb-5">Przykładowe Zawody: <span class="highlight-text-a-little">{{ personality[i].exemplaryProfessions }}</span></p>
        </div>
    {% endfor %}

    <script type="application/javascript">

    </script>

{% endblock %}

