{% extends 'base.html.twig' %}

{% block title %}
    Quiz Osobowości
{% endblock %}

{% block body %}
    <h1 class="fw-bold my-5">Quiz Osobowości</h1>
    <p class="description">Wykonaj quiz aby móc poznać Swoją osobowość. Zaznacz stwierdzenia które pasują do Ciebie.</p>

    <form method="post" action="{{ path('quiz_index') }}" onsubmit="return confirm('Czy chcesz zakończy test?');">
        <div class="quiz">
            {% for quizContent in quizContents %}
                <button type="button" id="quiz_item_{{ quizContent.id }}" class="quiz-item" onclick="btnClick({{ quizContent.id }})">
                    {{ quizContent.text }}
                    <input type="checkbox" name="{{ quizContent.id }}" value="{{ quizContent.personalitySign }}">
                </button>
            {% endfor %}
        </div>
        <p class="description my-5">Jesli zaznaczone zostały już wszystkie pasujące do Ciebie stwierdzenia, zakończ quiz.</p>
        <div class="row justify-content-center my-5">
            <button class="btn btn-success btn-lg w-50">Zakończ QUIZ</button>
        </div>
    </form>



    <script type="application/javascript">
        // quiz
        // let quizItemChecked;
        // let quizContentIds = [];

        function btnClick(btnId){
            const btn = document.querySelector('#quiz_item_' + btnId);
            console.log(btn)
            const inputFromQuiz = btn.querySelector('input');

            if (btn.style.backgroundColor === 'rgb(27, 255, 72)')
            {
                btn.style.backgroundColor = 'tomato';
                inputFromQuiz.checked = false;
                // quizItemChecked = false;
            } else
            {
                btn.style.backgroundColor = 'rgb(27, 255, 72)';
                inputFromQuiz.checked = true;
                // quizItemChecked = true;
                // quizContentIds.push(btnId) // btnId rowna sie quizContent.id z bazy danych
            }

            // alert(btn.style.backgroundColor)

        }
    </script>

{% endblock %}

