{% extends 'base.html.twig' %}

{% block title %}
    Test
{% endblock %}

{% block body %}
    <h1>Testowy CRUD (docelowo nie bedzie w aplikacji)</h1>

{#    <Example></Example>#}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ExampleString</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for example in examples %}
            <tr>
                <td>{{ example.id }}</td>
                <td>{{ example.exampleString }}</td>
                <td>
                    <a href="{{ path('app_example_show', {'id': example.id}) }}">pokaż</a>
                    <a href="{{ path('app_example_edit', {'id': example.id}) }}">edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">nic nie znaleziono</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_example_new') }}">Stwórz</a>
{#    <script type="application/javascript">#}
{#        import Example from "../../assets/js/components/Example";#}
{#        export default {#}
{#            components: {Example}#}
{#        }#}
{#    </script>#}
{% endblock %}

