<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Strona Glowna!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('js/app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ path('quiz_index') }}">Nazwa aplikacji?</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('example') }}">Strona główna</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('quiz_index') }}">QUIZ osobowości</a>
                    </li>
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{{ path('example') }}">Autorzy</a>#}
{#                    </li>#}
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Zaloguj się</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Zarejestruj się</a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('user') }}">Zarządzaj użytkownikami</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('quizContent_index') }}">Zarządzaj zawartością testu osobowości</a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            Zalogowano jako: {{ app.user }}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj się</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('example') }}">Mój profil</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>


    {#        <div id="app" data-user="{{ app.user.username | serialize('json')  | json_encode }}">#}
    <div id="app" class="container">
        {#            <Example></Example>#}
        {% block body %}{% endblock %}
    </div>


    {% block javascripts %}
        {{ encore_entry_script_tags('js/app') }}
        <script type="application/javascript" src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
    </body>
</html>
