{% extends 'base.html.twig' %}

{% block title %}Edytuj Użytkownika{% endblock %}

{% block body %}
    <h1>Edytuj Użytkownika</h1>

    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Zapisz') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('user_index') }}">Wróć do listy Użytkowników</a>

    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć tego użytkownika?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn">Delete</button>
    </form>
{% endblock %}
