{% extends 'base.html.twig' %}

{% block title %}Edytuj Użytkownika{% endblock %}

{% block body %}
    <h1>Edytuj Użytkownika</h1>

    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row justify-content-center my-5">
        <button class="btn btn-success btn-lg w-25">{{ button_label | default('Zapisz') }}</button>
    </div>
    {{ form_end(form) }}


    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć tego użytkownika?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <div class="row justify-content-center my-5">
            <button class="btn btn-danger btn-lg w-25">Delete</button>
        </div>
    </form>

    <div class="text-center">
        <a href="{{ path('user_index') }}"><button class="btn btn-primary btn-lg w-25">Wróć do listy użytkowników</button></a>
    </div>
{% endblock %}
