{% extends 'base.html.twig' %}

{% block title %}
    Wyświetlenie użytkowników
{% endblock %}

{% block body %}
    <h1 class="fw-bold my-5">Wyświetlenie użytkowników</h1>
    <div class="row text-center my-5">
        <a href="{{ path('user_new') }}"><button class="btn btn-success btn-lg w-50">Dodaj użytkownika</button></a>
    </div>
<div class="table-responsive">
        <table class="table align-middle text-center table-bordered table-hover table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Zweryfikowany</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="bg-table">
                    <td >{{ user.id}}</td>
                    <td >{{ user.username }}</td>
                    <td >{{ user.email }}</td>
                    <td >{{ user.roles | join(', ') }}</td>
                    <td >{{ user.isVerified ? "Tak" : "Nie"}}</td>
                    <td>
                        <div class="row text-center">
                            <a href="{{ path('user_show', {'id': user.id}) }}"><button class="btn btn-primary mb-1">Pokaż</button></a>
                            <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-success">Edytuj</button></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Nie znaleziono użytkowników</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}

