{% extends 'base.html.twig' %}

{% block title %}Informacje o Użytkowniku{% endblock %}

{% block body %}
    <h1>Informacje o Użytkowniku</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            <tr>
                <td class="bg-primary">{{ user.id }}</td>
                <td class="bg-primary">{{ user.username }}</td>
                <td class="bg-primary">{{ user.email }}</td>
                <td class="bg-primary">{{ user.roles | join(', ') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="btn btn-success btn-lg w-25">Edytuj</button></a>
        <a href="{{ path('user_index') }}"><button class="btn btn-primary btn-lg w-25">Wróć do zawartości Quizu</button></a>
    </div>

    <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć tego użytkownika?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <div class="row justify-content-center my-5">
            <button class="btn btn-danger btn-lg w-25">Delete</button>
        </div>
    </form>

{% endblock %}
