{% extends 'base.html.twig' %}

{% block title %}
    Wyświetlenie zawartości quizu
{% endblock %}

{% block body %}
    <h1 class="fw-bold my-5">Wyświetlenie zawartości quizu</h1>
    <div class="row text-center my-5">
        <a href="{{ path('quizContent_new') }}"><button class="btn btn-success btn-lg w-50">Dodaj element quizu</button></a>
    </div>
<div class="table-responsive">
    <table class="table align-middle text-center table-bordered table-hover table-striped">
        <thead class="table-primary">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Text</th>
                <th scope="col">Osobowość</th>
                <th scope="col">Osobowość symbol</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for quizContent in quizContents %}
            <tr class="bg-table">
                <td >{{ quizContent.id }}</td>
                <td >{{ quizContent.text }}</td>
                <td >{{ quizContent.personality }}</td>
                <td >{{ quizContent.personalitySign }}</td>
                <td>
                    <div class="row text-center">
                        <a href="{{ path('quizContent_show', {'id': quizContent.id}) }}"><button class="btn btn-primary mb-1">Pokaż</button></a>
                        <a href="{{ path('quizContent_edit', {'id': quizContent.id}) }}"><button class="btn btn-success">Edytuj</button></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nie znaleziono zawartości quizu</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

