{% extends 'base.html.twig' %}

{% block title %}Informacje o Użytkowniku{% endblock %}

{% block body %}
    <h1>Informacje o Użytkowniku</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nazwa</th>
                <th>Zawartosc</th>
            </tr>
            <tr>
                <td class="bg-primary">Id: </td>
                <td class="bg-primary">{{ quizContent.id }}</td>
            </tr>
            <tr>
                <td class="bg-primary">Text: </td>
                <td class="bg-primary">{{ quizContent.text }}</td>
            </tr>
            <tr>
                <td class="bg-primary">Osobowość</td>
                <td class="bg-primary">{{ quizContent.personality}}</td>
            </tr>
            <tr>
                <td class="bg-primary">Osobowość symbol</td>
                <td class="bg-primary">{{ quizContent.personalitySign }}</td>
            </tr>
        </tbody>
    </table>
    
    <div class="text-center">
        <a href="{{ path('quizContent_edit', {'id': quizContent.id}) }}"><button class="btn btn-success btn-lg w-25">Edytuj</button></a>
        <a href="{{ path('quizContent_index') }}"><button class="btn btn-primary btn-lg w-25">Wróć do zawartości Quizu</button></a>
    </div>

    <form method="post" action="{{ path('quizContent_delete', {'id': quizContent.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć ten element?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizContent.id) }}">
        <div class="row justify-content-center my-5">
            <button class="btn btn-danger btn-lg w-25">Usuń</button>
        </div>
    </form>
{% endblock %}
