{% extends 'base.html.twig' %}

{% block title %}Informacje o Użytkowniku{% endblock %}

{% block body %}
    <h1>Informacje o Użytkowniku</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Osobowość</th>
                <th>Osobowość symbol</th>
            </tr>
            <tr>
                <td class="bg-primary">{{ quizContent.id }}</td>
                <td class="bg-primary">{{ quizContent.text }}</td>
                <td class="bg-primary">{{ quizContent.personality }}</td>
                <td class="bg-primary">{{ quizContent.personalitySign }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quizContent_index') }}"><button>Wróć do listy Użytkowników</button></a>

    <a href="{{ path('quizContent_edit', {'id': quizContent.id}) }}"><button>Edytuj</button></a>

    <form method="post" action="{{ path('quizContent_delete', {'id': quizContent.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć ten element?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizContent.id) }}">
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}
